<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.example.demopracticeproject.mapper.NewsMapper">
    <!-- 此处与接口方法名对应 指定参数类型与返回结果类型-->
    <select id="getNewsById" parameterType="java.lang.Integer" resultType="com.example.demopracticeproject.Entity.News">
        select * from sci_news where id = #{id}
    </select>
    <insert id="addNews" parameterType="com.example.demopracticeproject.Entity.News" >
        insert into sci_news(id,title,type,user_id,link,cover,downloads,gmt_create,create_by,gmt_update,update_by) values
        (#{id},#{title},#{type},#{user_id},#{link},#{cover},#{downloads},#{gmt_create},#{create_by},#{gmt_update},#{update_by})
     </insert>
</mapper>
